In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [2]:
# Function to insert 'list_oscars_BS' into the 'oscars' table.
def insert_oscars():
    # Connection
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    # Cursor creation
    mycursor = cnx.cursor()

    try: 
        # Read CSV file
        df = pd.read_csv('data/oscars/list_oscars_BS.csv') 

        # SQL to insert data. You must indicate the name of the columns in the first parenthesis and in values enter the number of columns with %s
        sql_insert_query = """ INSERT INTO oscars (ceremony_year, best_movie, best_director, best_actor, best_actress) VALUES (%s, %s, %s, %s, %s)"""

        # Iterate over each row of the DataFrame and insert the data for each column.
        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['ceremony_year'], row['best_movie'], row['best_director'], row['best_actor'], row['best_actress'])) 

        # Confirm changes with commit
        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [14]:
# call the insert function for the oscars table
insert_oscars()

1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada

In [6]:
# Here we create the function to insert the data from 'actor_details_oscar_only.csv' into the 'actor_details' table.
# IMPORTANT: it must be inserted before the 'actor_awards' table because to create its connections it needs to be already in the 'actor_awards' table.
# So we have introduced the concrete data of their names to allow us the second insertion BUT we will have to update them with the new data when we finish extracting them in SELENIUM.

def insert_actor_details():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv('data/selenium_actors/list_oscars_range_1_2_sel_actor.csv') # The CSV has an 'only' to distinguish temporary data.

        sql_insert_query = """ INSERT INTO actor_details (actor_name, birth_year, known_for, actor_role, actor_awards) VALUES (%s, %s, %s, %s, %s)""" # We enter only one column value. It is temporary until we update it.

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'],row['birth_year'],row['known_for'],row['actor_role'],row['actor_awards'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [7]:
# call the insert function for the oscars table
insert_actor_details()

Error al insertar en la base de datos: 1054 (42S22): Unknown column 'nan' in 'field list'
Conexi贸n a la base de datos cerrada

In [17]:
# Function to insert the data from 'actor_awards.csv' into the 'actor_awards' table. 
# It will not work if we don't have data in the 'actor_details' table.
def insert_actor_awards():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv('data/oscars/actor_awards.csv')
    
        sql_insert_query = """ INSERT INTO actor_awards (actor_name, ceremony_year, award_type) VALUES (%s, %s, %s)"""

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'], row['ceremony_year'], row['award_type'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [18]:
# call the insert function for the oscars table
insert_actor_awards()

1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada