In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [2]:
#  "OSCARS" TABLE --> DEFINE 锔 FUNCTIONS

# Function to insert 'list_oscars_BS' into the 'oscars' table.

def insert_oscars():
    # Connection
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    # Cursor creation
    mycursor = cnx.cursor()

    try: 
        # Read CSV file
        df = pd.read_csv('data/oscars/list_oscars_BS.csv') 

        # SQL to insert data. You must indicate the name of the columns in the first parenthesis and in values enter the number of columns with %s
        sql_insert_query = """ INSERT INTO oscars (ceremony_year, best_movie, best_director, best_actor, best_actress) VALUES (%s, %s, %s, %s, %s)"""

        # Iterate over each row of the DataFrame and insert the data for each column.
        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['ceremony_year'], row['best_movie'], row['best_director'], row['best_actor'], row['best_actress'])) 

        # Confirm changes with commit
        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [3]:
#  "OSCARS" TABLE --> EXECUTE 讹 FUNCTIONS

# call the insert function for the oscars table
insert_oscars()

1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada

In [4]:
#  "ACTOR DETAILS" TABLE --> DEFINE 锔 FUNCTIONS

# function for cleaning actor_details .csv: replaces 'none' and NaN with 0

def clean_ad_data (genre, start_page, end_page):
    #1- read csv
    df = pd.read_csv(f'data/selenium_actors/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv')
    print (f"data/selenium_actors/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv opened")
    
    #2- find and replace 'none' with None
    df["birth_year"].replace("none", 0, inplace=True)
    df.fillna(value=0, inplace=True)
    df.set_index('actor_name', inplace=True)
    print ("csv updated")
    
    #3 save the updated data as .csv
    df.to_csv(f'data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv')
    print (f"data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv CREATED")

# function to insert the data into 'actor_details' table

def insert_actor_details(genre, start_page, end_page):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv(f'data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv') # The CSV has an 'only' to distinguish temporary data.

        sql_insert_query = """ 
        INSERT INTO actor_details (actor_name, birth_year, known_for, actor_role, actor_awards)
        VALUES (%s, %s, %s, %s, %s) 
        ON DUPLICATE KEY UPDATE 
            actor_name = VALUES(actor_name),
            birth_year = VALUES(birth_year),
            known_for = VALUES(known_for),
            actor_role = VALUES(actor_role),
            actor_awards = VALUES(actor_awards)""" # We enter only one column value. It is temporary until we update it.

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'],row['birth_year'],row['known_for'],row['actor_role'],row['actor_awards'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [5]:
#  "ACTOR DETAILS" TABLE --> EXECUTE 讹 FUNCTIONS


# enter the correspondent genre and start and end page
genre = 'drama'       # enter "action" "comedy" "drama" "oscars"
start_page = 1
end_page = 5

# iterate over the list of files
for i in range(start_page, end_page):
    
    print(f"Iteracion {i}")
    
    # clean data
    clean_ad_data (genre, i, i+1)

    # insert data
    insert_actor_details(genre, i, i+1)

Iteracion 1
data/selenium_actors/list_drama_range_1_2_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_1_2_sel_actor.csv CREATED
1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 2
data/selenium_actors/list_drama_range_2_3_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_2_3_sel_actor.csv CREATED
1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 3
data/selenium_actors/list_drama_range_3_4_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_3_4_sel_actor.csv CREATED
1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 4
data/selenium_actors/list_drama_range_4_5_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_4_5_sel_actor.csv CREATED
1 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada

In [14]:
#  "ACTOR_AWARDS" TABLE --> DEFINE 锔 FUNCTIONS

# Function to insert the data from 'actor_awards.csv' into the 'actor_awards' table. 
# It will not work if we don't have data in the 'actor_details' table.
def insert_actor_awards():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv('data/oscars/actor_awards.csv')
    
        sql_insert_query = """ INSERT INTO actor_awards (actor_name, ceremony_year, award_type) VALUES (%s, %s, %s)"""

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'], row['ceremony_year'], row['award_type'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [15]:
#  "ACTOR_AWARDS" TABLE --> EXECUTE 讹 FUNCTIONS

# call the insert function for the oscars table
insert_actor_awards()

Error al insertar en la base de datos: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`cinem_extract`.`actor_awards`, CONSTRAINT `actor_awards_ibfk_1` FOREIGN KEY (`actor_name`) REFERENCES `actor_details` (`actor_name`) ON DELETE CASCADE ON UPDATE CASCADE)
Conexi贸n a la base de datos cerrada

In [8]:
#  "RELATION_MOVIE_OSCARS" TABLE --> DEFINE 锔 FUNCTIONS

# insert data into relation_movie_oscars

def insert_relation_movie_oscars():
    # Connection
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    # Cursor creation
    mycursor = cnx.cursor()

    try: 
        # Read CSV file
        df = pd.read_csv('data/oscars/relation_movie_oscars.csv')

        # SQL to insert data. You must indicate the name of the columns in the first parenthesis and in values enter the number of columns with %s
        sql_insert_query = """ INSERT INTO relation_movie_oscars (id_imdb, best_movie, ceremony_year) VALUES (%s, %s, %s)"""

        # Iterate over each row of the DataFrame and insert the data for each column.
        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['id_imdb'], row['best_movie'], row['ceremony_year'])) 

        # Confirm changes with commit
        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err} ") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi贸n a la base de datos cerrada")

In [9]:
#  "RELATION_MOVIE_OSCARS" TABLE --> EXECUTE 讹 FUNCTIONS

# call the insert function for relation_movie_oscars

insert_relation_movie_oscars()

Error al insertar en la base de datos: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`cinem_extract`.`relation_movie_oscars`, CONSTRAINT `relation_movie_oscars_ibfk_1` FOREIGN KEY (`id_imdb`) REFERENCES `movies` (`id_imdb`) ON DELETE CASCADE ON UPDATE CASCADE)
Conexi贸n a la base de datos cerrada

In [10]:
#  "MOVIES" TABLE --> DEFINE 锔 FUNCTIONS

def clean_and_prepare_data(file_path):

    try:
        df = pd.read_csv(file_path)
        
        # Establecer 'id_imdb' como 铆ndice del DataFrame
        df.set_index('id_imdb', inplace=True)

        # Reemplazar NaN con valores por defecto
        df['release_month'].fillna(0, inplace=True)  # O alg煤n otro valor por defecto apropiado
        df['type'].fillna('not', inplace=True)  # O alg煤n otro valor por defecto apropiado
        df['genre'].fillna('not', inplace=True)  # O alg煤n otro valor por defecto apropiado

        # Convertir 'none' a None para que se traduzcan a NULL en SQL
        df.replace('none', None, inplace=True)

        # Convertir NaN a None para que se traduzcan a NULL en SQL
        df = df.where(pd.notnull(df), None)

        # Verificar los tipos de datos y reemplazar valores no v谩lidos
        df['release_month'] = df['release_month'].astype(int, errors='ignore')
        df['release_year'] = df['release_year'].astype(int, errors='ignore')

        # Imprimir los primeros registros para depuraci贸n
        print(df.head())

        # Contar las ocurrencias de 'not' en las columnas 'type' y 'genre'
        type_not_count = df['type'].value_counts().get('not', 0)
        genre_not_count = df['genre'].value_counts().get('not', 0)

        print(f"Ocurrencias de 'not' en 'type': {type_not_count}")
        print(f"Ocurrencias de 'not' en 'genre': {genre_not_count}")

        return df

    except FileNotFoundError as fnf_error:
        print(f"Error al buscar archivo: {fnf_error}")
        return None
    
def insert_movies(df):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')
    mycursor = cnx.cursor()

    try:
        sql_insert_query = """ 
        INSERT INTO movies (id_imdb, type, name, release_year, release_month, genre) 
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE 
            id_imdb = VALUES(id_imdb),
            type = VALUES(type),
            name = VALUES(name),
            release_year = VALUES(release_year),
            release_month = VALUES(release_month),
            genre = VALUES(genre)"""

        rowcount_before = mycursor.rowcount

        for id_imdb, row in df.iterrows():
            mycursor.execute(sql_insert_query, (id_imdb, row['type'], row['name'], row['release_year'], row['release_month'], row['genre'])) 

        cnx.commit()

        rowcount_after = mycursor.rowcount
        inserted_count = rowcount_after - rowcount_before

        print(f"{inserted_count} registro(s) insertado(s)")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err}")

    finally:
        if cnx.is_connected():
            mycursor.close()
            cnx.close()
            print("Conexi贸n a la base de datos cerrada")

In [13]:
#  "MOVIES" TABLE --> EXECUTE 讹 FUNCTIONS

genre = 'drama' # action, comedy, drama
start_page = 1
end_page = 30

for i in range(start_page, end_page):
    print(f"Iteracion {i}")
    file_path = f'data/api/list_{genre}_range_{i}_{i+1}_API.csv'
    
    df = clean_and_prepare_data(file_path)
    
    if df is None or df.empty:
        print(f"No se encontraron datos v谩lidos en {file_path}")
        continue
    
    insert_movies(df)

Iteracion 1
             type                 name  release_year release_month  genre
id_imdb
tt10579986  Movie         Mom's Coming          2024            11  Drama
tt10597228  Movie  Love Song and Power          2024             1  Drama
tt11097384  Movie             Spaceman          2024             3  Drama
tt11152168  Movie                   IF          2024             5  Drama
tt11822244  Movie       Manje Bistre 3          2024             7  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 2
             type             name  release_year release_month  genre
id_imdb
tt17590672  Movie         Scorpion          2024             6  Drama
tt17731524  Movie  Valhalla Awaits          2024            10  Drama
tt18213692  Movie          Persona          2024             7  Drama
tt18556552  Movie  The Falling Sun          2024            11  Drama
tt19368948  Movie   L'ora di tutti          2024             9  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 3
             type                                             name  \
id_imdb
tt28350704  Movie                                     Rode College
tt28369831  Movie                                           Patang
tt28479388  Movie                                     Pratinidhi 2
tt28496030  Movie                                 Man of the House
tt28496969  Movie  Hatixhe and Shaban - A Story of Money and Shame

            release_year release_month  genre
id_imdb
tt28350704          2024             6  Drama
tt28369831          2024             2  Drama
tt28479388          2024             5  Drama
tt28496030          2024             0  Drama
tt28496969          2024             0  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 4
             type                    name  release_year release_month  genre
id_imdb
tt29453957  Movie           Finding Faith          2024             8  Drama
tt29478506  Movie  Que notre joie demeure          2024             4  Drama
tt28862483  Movie                Dragoons          2024             2  Drama
tt29481454  Movie               3EME OEIL          2024             9  Drama
tt29486067  Movie            Finding Tony          2024             5  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 5
             type                     name  release_year release_month  genre
id_imdb
tt30138535  Movie            Double Engine          2024             3  Drama
tt30138362  Movie            Der Deserteur          2024             1  Drama
tt30141676  Movie  In the Land of Brothers          2024             1  Drama
tt30145066  Movie             Lifting Jane          2024             4  Drama
tt30145098  Movie          Finding Dr John          2024             4  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 6
             type                             name  release_year  \
id_imdb
tt30420854  Movie  Fly Old Bird: Escape to the Ark          2024
tt30423626  Movie         Drunks Have Whiter Teeth          2024
tt30430343  Movie                       Emo Valley          2024
tt30439035  Movie                All Shall Be Well          2024
tt30440590  Movie                            Faruk          2024

           release_month  genre
id_imdb
tt30420854             1  Drama
tt30423626             2  Drama
tt30430343             2  Drama
tt30439035             2  Drama
tt30440590             2  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 7
             type                       name  release_year release_month  \
id_imdb
tt30632761  Movie           Sridevi Prasanna          2024             2
tt30647093  Movie  The filth of the Internet          2024             8
tt30691232  Movie             Karinyo brutal          2024             1
tt30691420  Movie                     Shadow          2024             9
tt30693534  Movie             Broken by Love          2024             3

            genre
id_imdb
tt30632761  Drama
tt30647093  Drama
tt30691232  Drama
tt30691420  Drama
tt30693534  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 8
             type                              name  release_year  \
id_imdb
tt30833434  Movie  Bolehkah Sekali Saja Ku Menangis          2024
tt30834637  Movie                     Zhina Til Now          2024
tt30834708  Movie                      The Mistress          2024
tt30834999  Movie                            Family          2024
tt30835190  Movie               Songs from the Hole          2024

           release_month  genre
id_imdb
tt30833434             0  Drama
tt30834637             2  Drama
tt30834708             1  Drama
tt30834999             3  Drama
tt30835190             3  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
3 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 9
             type                             name  release_year  \
id_imdb
tt30970632  Movie                             Ra铆z          2024
tt30970938  Movie     Mr Patrick Wahala in America          2024
tt30971388  Movie                  Boundary Waters          2024
tt30971472  Movie                          Apatiya          2024
tt30971598  Movie  Eiga Karakai J么zu no Takagi-san          2024

           release_month  genre
id_imdb
tt30970632             5  Drama
tt30970938             1  Drama
tt30971388          None  Drama
tt30971472             2  Drama
tt30971598             5  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 10
             type                                             name  \
id_imdb
tt31036632  Movie                                   DUI Dune Panch
tt31038890  Movie  The Man Who Saved the Internet with a Sunflower
tt31039829  Movie      Qing chun 182 tong wang you ni de l眉 cheng
tt31040111  Movie                              God with Three Eyes
tt31040998  Movie                                      Rukhe Daraw

            release_year release_month  genre
id_imdb
tt31036632          2024             2  Drama
tt31038890          2024             1  Drama
tt31039829          2024             3  Drama
tt31040111          2024             7  Drama
tt31040998          2024             1  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 11
             type                name  release_year release_month  genre
id_imdb
tt31124437  Movie  Motshameko O Kotsi          2024             2  Drama
tt31131384  Movie     I Live Here Now          2024          None  Drama
tt31144869  Movie      Double Blended          2024            12  Drama
tt31145117  Movie        Shesh Rokkha          2024             1  Drama
tt31149981  Movie   Il Lago Incantato          2024             1  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 12
             type           name  release_year release_month  genre
id_imdb
tt31228225  Movie    Summer Rain          2024             6  Drama
tt31214706  Movie  Her Dark Past          2024             3  Drama
tt31228642  Movie         Shayar          2024             4  Drama
tt31229670  Movie     隆Ay, Dios!          2024             2  Drama
tt31240702  Movie        Salitan          2024             2  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 13
             type              name  release_year release_month  genre
id_imdb
tt31383603  Movie      Dark Justice          2024             2  Drama
tt31389203  Movie          Prazdnik          2024             2  Drama
tt31389472  Movie  Service to Heart          2024             3  Drama
tt31389684  Movie         Bharkhama          2024             7  Drama
tt31389998  Movie         Salisihan          2024             2  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 14
             type                              name  release_year  \
id_imdb
tt31472053  Movie       Dobla la esquina, el volc谩n          2024
tt31472951  Movie                         Karuvachi          2024
tt31474572  Movie                            Kaasra          2024
tt31474594  Movie  Guadalupe: Madre de la Humanidad          2024
tt31487604  Movie                        The Spoils          2024

           release_month  genre
id_imdb
tt31472053             2  Drama
tt31472951            12  Drama
tt31474572             5  Drama
tt31474594             3  Drama
tt31487604             3  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 15
             type                                       name  release_year  \
id_imdb
tt31588163  Movie                               Just in Time          2024
tt31579674  Movie  Thappinchuku Thiruguvadu Dhanyudu Sumathi          2024
tt31580017  Movie                                   Cat Pupa          2024
tt31589922  Movie                                       Rita          2024
tt31592092  Movie                                      Lukas          2024

           release_month  genre
id_imdb
tt31588163             3  Drama
tt31579674             1  Drama
tt31580017             2  Drama
tt31589922             3  Drama
tt31592092             3  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 16
             type                             name  release_year  \
id_imdb
tt31702328  Movie                      Bengal 1947          2024
tt31702853  Movie                              JNU          2024
tt31704401  Movie                             Ji e          2024
tt31704663  Movie                    The U P Files          2024
tt31709218  Movie  The Emancipation of Miss Millie          2024

           release_month  genre
id_imdb
tt31702328             3  Drama
tt31702853             6  Drama
tt31704401             2  Drama
tt31704663             7  Drama
tt31709218             4  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 17
             type                   name  release_year release_month  genre
id_imdb
tt31723181  Movie  Hao hao shuo zai jian          2024             3  Drama
tt31723358  Movie  P铆deme lo que quieras          2024            11  Drama
tt31727239  Movie      Na Mata dos Medos          2024             5  Drama
tt31770649  Movie               Yes Papa          2024             3  Drama
tt31752804  Movie       Nou Pat Nan Dieu          2024          None  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 18
             type                 name  release_year release_month  genre
id_imdb
tt31852754  Movie     The Last Passage          2024             1  Drama
tt31860731  Movie       Ma face cach茅e          2024             6  Drama
tt31861434  Movie            Jyukinshi          2024             3  Drama
tt31861943  Movie             The Jump          2024             2  Drama
tt31862104  Movie  Tirik yetim qizaloq          2024             3  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 19
             type                 name  release_year release_month  genre
id_imdb
tt31948263  Movie         Prodigieuses          2024            11  Drama
tt31949035  Movie  Love and Friendship          2024             3  Drama
tt31955111  Movie      La seconda vita          2024             4  Drama
tt31955328  Movie           Marea Alta          2024             9  Drama
tt31955451  Movie                  BET          2024             5  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 20
             type                         name  release_year release_month  \
id_imdb
tt32023078  Movie        Possession: Kerasukan          2024             5
tt32023291  Movie                  Main Ladega          2024             4
tt32023769  Movie  3 Karod 24 Khallak 1 Sawaal          2024             3
tt32026356  Movie             And God Made Man          2024             8
tt32027870  Movie          Better Than Revenge          2024             8

            genre
id_imdb
tt32023078  Drama
tt32023291  Drama
tt32023769  Drama
tt32026356  Drama
tt32027870  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 21
             type                              name  release_year  \
id_imdb
tt32086052  Movie                    Trong l貌ng dat          2024
tt32086082  Movie              Sensei no Shiroi Uso          2024
tt32089835  Movie                         Lets Talk          2024
tt32094021  Movie  Katanga - La danse des scorpions          2024
tt32094459  Movie                 Uzhaipalar Thinam          2024

           release_month  genre
id_imdb
tt32086052             5  Drama
tt32086082             7  Drama
tt32089835             3  Drama
tt32094021             0  Drama
tt32094459             5  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
3 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 22
             type                   name  release_year release_month  genre
id_imdb
tt32119268  Movie                   Baby          2024             5  Drama
tt32119337  Movie  Simon of the Mountain          2024             5  Drama
tt32119297  Movie        Blue Sun Palace          2024             8  Drama
tt32119317  Movie               La Pampa          2024             5  Drama
tt32123253  Movie      A nuestros amigos          2024             4  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 23
             type                   name  release_year release_month  genre
id_imdb
tt32158497  Movie                 Yanqui          2024             6  Drama
tt32159796  Movie        I'm Unbreakable          2024             4  Drama
tt32160122  Movie    Wedding Night Blues          2024             0  Drama
tt32161457  Movie  Life in the Old Cloth          2024            12  Drama
tt32161669  Movie         Xing fu he tao          2024             3  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 24
             type         name  release_year release_month  genre
id_imdb
tt32215898  Movie      Nebesko          2024             4  Drama
tt32216004  Movie  Ayo Balikan          2024             5  Drama
tt32216248  Movie    Wakamusha          2024             5  Drama
tt32216510  Movie       Redrum          2024            11  Drama
tt32217917  Movie    Situation          2024             2  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 25
             type           name  release_year release_month  genre
id_imdb
tt32264436  Movie    Desmem贸rias          2024             4  Drama
tt32265116  Movie  Teacher's Pet          2024             5  Drama
tt32267351  Movie          Nahir          2024             5  Drama
tt32268272  Movie  Una luz negra          2024             4  Drama
tt32268578  Movie  De sang-froid          2024          None  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 26
             type                          name  release_year release_month  \
id_imdb
tt32334229  Movie   Udvegam (The First Case of)          2024             6
tt32335444  Movie  Love Syndrome: The Beginning          2024             5
tt32336861  Movie      El Infierno de los Vivos          2024             4
tt32338072  Movie                      Sukhneer          2024             4
tt32338652  Movie               Mother of Tears          2024             5

            genre
id_imdb
tt32334229  Drama
tt32335444  Drama
tt32336861  Drama
tt32338072  Drama
tt32338652  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 27
             type                name  release_year release_month  genre
id_imdb
tt32394705  Movie        Shining Days          2024             8  Drama
tt32394943  Movie     Pk Saenchai Gym          2024             5  Drama
tt32395186  Movie   A Kiss That Kills          2024             5  Drama
tt32397283  Movie  Why Live It Solo?!          2024             1  Drama
tt32398306  Movie   A nuestros amigos          2024             4  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
3 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 28
             type                                 name  release_year  \
id_imdb
tt32460580  Movie                             Saboteur          2024
tt32460774  Movie                  Mere Sajna Ka Angna          2024
tt32461231  Movie                     Shekare Halazoon          2024
tt32463470  Movie  Jericho's tail -La coda di Jericho-          2024
tt32465377  Movie                           The Escape          2024

           release_month  genre
id_imdb
tt32460580             3  Drama
tt32460774             9  Drama
tt32461231             2  Drama
tt32463470             3  Drama
tt32465377             4  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada
Iteracion 29
             type                         name  release_year release_month  \
id_imdb
tt32508581  Movie                  Abomination          2024             4
tt32508751  Movie               Campus Scandal          2024             3
tt32508812  Movie             Fierce Agreement          2024             2
tt32509719  Movie            3 Days, 3 Murders          2024             6
tt32509727  Movie  Bird of a Different Feather          2024             6

            genre
id_imdb
tt32508581  Drama
tt32508751  Drama
tt32508812  Drama
tt32509719  Drama
tt32509727  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
2 registro(s) insertado(s)
Conexi贸n a la base de datos cerrada