In [2]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [2]:
# üé¨ "MOVIES" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# insert data into movies

def clean_and_prepare_data(file_path):
    try:
        df = pd.read_csv(file_path)
        
        # Establecer 'id_imdb' como √≠ndice del DataFrame
        df.set_index('id_imdb', inplace=True)

        # Reemplazar NaN con valores por defecto
        df['release_month'].fillna(0, inplace=True)  # O alg√∫n otro valor por defecto apropiado
        df['type'].fillna('not', inplace=True)  # O alg√∫n otro valor por defecto apropiado
        df['genre'].fillna('not', inplace=True)  # O alg√∫n otro valor por defecto apropiado

        # Convertir 'none' a None para que se traduzcan a NULL en SQL
        df.replace('none', None, inplace=True)

        # Convertir NaN a None para que se traduzcan a NULL en SQL
        df = df.where(pd.notnull(df), None)

        # Verificar los tipos de datos y reemplazar valores no v√°lidos
        df['release_month'] = df['release_month'].astype(int, errors='ignore')
        df['release_year'] = df['release_year'].astype(int, errors='ignore')

        # Imprimir los primeros registros para depuraci√≥n
        print(df.head())

        # Contar las ocurrencias de 'not' en las columnas 'type' y 'genre'
        type_not_count = df['type'].value_counts().get('not', 0)
        genre_not_count = df['genre'].value_counts().get('not', 0)

        print(f"Ocurrencias de 'not' en 'type': {type_not_count}")
        print(f"Ocurrencias de 'not' en 'genre': {genre_not_count}")

        return df

    except FileNotFoundError as fnf_error:
        print(f"Error al buscar archivo: {fnf_error}")
        return None


def insert_movies(df):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')
    mycursor = cnx.cursor()

    try:
        sql_insert_query = """ 
        INSERT INTO movies (id_imdb, type, name, release_year, release_month, genre) 
        VALUES (%s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE 
            id_imdb = VALUES(id_imdb),
            type = VALUES(type),
            name = VALUES(name),
            release_year = VALUES(release_year),
            release_month = VALUES(release_month),
            genre = VALUES(genre)"""

        rowcount_before = mycursor.rowcount

        for id_imdb, row in df.iterrows():
            mycursor.execute(sql_insert_query, (id_imdb, row['type'], row['name'], row['release_year'], row['release_month'], row['genre'])) 

        cnx.commit()

        rowcount_after = mycursor.rowcount
        inserted_count = rowcount_after - rowcount_before

        print(f"{inserted_count} registro(s) insertado(s)üìù")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err}")

    finally:
        if cnx.is_connected():
            mycursor.close()
            cnx.close()
            print("Conexi√≥n a la base de datos cerradaüîö")

In [7]:
# üé¨ "MOVIES" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

# call the insert function for movies

genre = 'drama' # action, comedy, drama, oscars
start_page = 31
end_page = 32

for i in range(start_page, end_page):
    print(f"Iteracion {i}")
    # La iteraci√≥n del end page es + 1
    file_path = f'data/api/list_{genre}_range_{i}_{i+30}_API.csv' # Para insertar los datos del rango 31 a 61 hemos tenido que cambiar el end page a 32 y el star page a 31 y la iteraci√≥n del endpage a +30
    
    df = clean_and_prepare_data(file_path)
    
    if df is None or df.empty:
        print(f"No se encontraron datos v√°lidos en {file_path}")
        continue
    
    insert_movies(df)

Iteracion 31
             type                    name  release_year release_month  genre
id_imdb
tt32404334  Movie                  Ludzie          2024          None  Drama
tt32404356  Movie               Labyrinth          2024             5  Drama
tt32404526  Movie  Sabkar Dularuvaa Hawan          2024             8  Drama
tt32404661  Movie                Cellmate          2024             2  Drama
tt32404816  Movie             Love Tragic          2024             5  Drama
Ocurrencias de 'not' en 'type': 0
Ocurrencias de 'not' en 'genre': 0
1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö

In [3]:
# üìΩÔ∏è "MOVIE DETAILS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# function to clean data

def clean_md_data (genre, start_page, end_page):
    #1- read csv
    df = pd.read_csv(f'data/selenium_movies/list_{genre}_{start_page}_{end_page}_sel_movies.csv')
    print (f"\n‚úîÔ∏èdata/selenium_movies/list_{genre}_{start_page}_{end_page}_sel_movies.csv OPENED")
    
    #2- find and replace 'none' with None
    df["score_imdb"].replace("none", 0, inplace=True)
    df["score_imdb"] = df["score_imdb"].str.replace(',', '.').astype(float)
    df["score_rt"].replace("none", 0, inplace=True)
    df["duration_imdb"].replace("none", 0, inplace=True)
    df.fillna(value=0, inplace=True)
    df.set_index('id_imdb', inplace=True)
    print ("‚úîÔ∏ècsv UPDATED")
    
    #3 save the updated data as .csv
    df.to_csv(f'data/selenium_movies/clean/list_{genre}_{start_page}_{end_page}_sel_movies.csv')
    print (f"‚úîÔ∏èdata/selenium_movies/clean/list_{genre}_{start_page}_{end_page}_sel_movies.csv CREATED")

# function to insert the data into 'movie_details' table

def insert_movie_details(genre, start_page, end_page):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try:
        df = pd.read_csv(f'data/selenium_movies/clean/list_{genre}_{start_page}_{end_page}_sel_movies.csv')

        sql_insert_query = """ 
        INSERT INTO movie_details (id_imdb, score_imdb, score_rt, director_imdb, screenwriters_imdb, plot_rt, duration_imdb, title_imdb)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        ON DUPLICATE KEY UPDATE 
            id_imdb = VALUES(id_imdb),
            score_imdb = VALUES(score_imdb),
            score_rt = VALUES(score_rt),
            director_imdb = VALUES(director_imdb),
            screenwriters_imdb = VALUES(screenwriters_imdb),
            plot_rt = VALUES(plot_rt),
            duration_imdb = VALUES(duration_imdb),
            title_imdb = VALUES (title_imdb)"""

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['id_imdb'],row['score_imdb'],row['score_rt'],row['director_imdb'],row['screenwriters_imdb'],row['plot_rt'],row['duration_imdb'],row['title_imdb'])) 

        cnx.commit() 
        print(f"\n‚úÖ{mycursor.rowcount} registro(s) insertado(s)") 

    except mysql.connector.Error as err: 
        print(f"\n‚ùåError al insertar en la base de datos: {err}") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [7]:
# üìΩÔ∏è "MOVIE DETAILS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

# IN PROGRESS Having issues here because not all the imdb_id are uploaded 

# enter the correspondent genre and start and end page
genre = 'action'       # enter "action" "comedy" "drama" "oscars"
start_page = 1
end_page = 10

# iterate over the list of files
for i in range(start_page, end_page):
    
    print(f"\nIteracion {i}")
    # clean data 
    clean_md_data(genre, i, i+1)
    # insert data
    insert_movie_details(genre, i, i+1)

Iteracion 1

‚úîÔ∏èdata/selenium_movies/list_action_1_2_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_1_2_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 2

‚úîÔ∏èdata/selenium_movies/list_action_2_3_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_2_3_sel_movies.csv CREATED

‚úÖ0 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 3

‚úîÔ∏èdata/selenium_movies/list_action_3_4_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_3_4_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 4

‚úîÔ∏èdata/selenium_movies/list_action_4_5_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_4_5_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 5

‚úîÔ∏èdata/selenium_movies/list_action_5_6_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_5_6_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 6

‚úîÔ∏èdata/selenium_movies/list_action_6_7_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_6_7_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 7

‚úîÔ∏èdata/selenium_movies/list_action_7_8_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_7_8_sel_movies.csv CREATED

‚úÖ0 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 8

‚úîÔ∏èdata/selenium_movies/list_action_8_9_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_8_9_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

Iteracion 9

‚úîÔ∏èdata/selenium_movies/list_action_9_10_sel_movies.csv OPENED
‚úîÔ∏ècsv UPDATED
‚úîÔ∏èdata/selenium_movies/clean/list_action_9_10_sel_movies.csv CREATED

‚úÖ1 registro(s) insertado(s)
Conexi√≥n a la base de datos cerradaüîö

In [12]:
# üé≠ "ACTOR DETAILS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# function for cleaning actor_details .csv: replaces 'none' and NaN with 0

def clean_ad_data (genre, start_page, end_page):
    #1- read csv
    df = pd.read_csv(f'data/selenium_actors/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv')
    print (f"data/selenium_actors/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv opened")
    
    #2- find and replace 'none' with None
    df["birth_year"].replace("none", 0, inplace=True)
    df.fillna(value=0, inplace=True)
    df.set_index('actor_name', inplace=True)
    print ("csv updated")
    
    #3 save the updated data as .csv
    df.to_csv(f'data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv')
    print (f"data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv CREATED‚úÖ")

# function to insert the data into 'actor_details' table

def insert_actor_details(genre, start_page, end_page):
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv(f'data/selenium_actors/clean/list_{genre}_range_{start_page}_{end_page}_sel_actor.csv')

        sql_insert_query = """ 
        INSERT INTO actor_details (actor_name, birth_year, known_for, actor_role, actor_awards)
        VALUES (%s, %s, %s, %s, %s) 
        ON DUPLICATE KEY UPDATE 
            actor_name = VALUES(actor_name),
            birth_year = VALUES(birth_year),
            known_for = VALUES(known_for),
            actor_role = VALUES(actor_role),
            actor_awards = VALUES(actor_awards)""" 

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'],row['birth_year'],row['known_for'],row['actor_role'],row['actor_awards'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [16]:
# üé≠ "ACTOR DETAILS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS


# enter the correspondent genre and start and end page
genre = 'drama'       # enter "action" "comedy" "drama" "oscars"
start_page = 1
end_page = 5

# iterate over the list of files
for i in range(start_page, end_page):
    
    print(f"Iteracion {i}")
    
    # clean data
    clean_ad_data (genre, i, i+1)

    # insert data
    insert_actor_details(genre, i, i+1)

Iteracion 1
data/selenium_actors/list_drama_range_1_2_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_1_2_sel_actor.csv CREATED‚úÖ

C:\Users\cecil\AppData\Local\Temp\ipykernel_6124\3225124904.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["birth_year"].replace("none", 0, inplace=True)

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö
Iteracion 2
data/selenium_actors/list_drama_range_2_3_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_2_3_sel_actor.csv CREATED‚úÖ

C:\Users\cecil\AppData\Local\Temp\ipykernel_6124\3225124904.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["birth_year"].replace("none", 0, inplace=True)

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö
Iteracion 3
data/selenium_actors/list_drama_range_3_4_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_3_4_sel_actor.csv CREATED‚úÖ

C:\Users\cecil\AppData\Local\Temp\ipykernel_6124\3225124904.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["birth_year"].replace("none", 0, inplace=True)

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö
Iteracion 4
data/selenium_actors/list_drama_range_4_5_sel_actor.csv opened
csv updated
data/selenium_actors/clean/list_drama_range_4_5_sel_actor.csv CREATED‚úÖ

C:\Users\cecil\AppData\Local\Temp\ipykernel_6124\3225124904.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["birth_year"].replace("none", 0, inplace=True)

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö

In [21]:
# üé≠ "ACTOR DETAILS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS (THIS IS TO ADD ACTORS NAMES ONLY)

def insert_actor_name_only():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        # Para incluir los datos de la tabla relation_actor_movie necesitamos hacerlo aqu√≠ tambi√©n. Solo hay que sustituir la ruta y CSV
        # Se sustituye por: data/selenium_imdb_actors/list_oscars_range_1_2_sel_imdb_movies_actors.csv (actor-movies-oscars)
        # Se sustituye por: data/oscars/actor_details_oscars_only.csv (actor-oscars)
        df = pd.read_csv(f'data/oscars/list_oscars_range_1_2_sel_imdb_movies_actors.csv')

        sql_insert_query = """ 
        INSERT INTO actor_details (actor_name)
        VALUES (%s)
        ON DUPLICATE KEY UPDATE 
            actor_name = VALUES(actor_name)""" 

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'],)) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [22]:
# üé≠ "ACTOR DETAILS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS (THIS IS TO ADD ACTORS NAMES ONLY)

#execute function

insert_actor_name_only()

0 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö

In [23]:
# üèÜ "OSCARS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# Function to insert 'list_oscars_BS' into the 'oscars' table.
def insert_oscars():
    # Connection
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    # Cursor creation
    mycursor = cnx.cursor()

    try: 
        # Read CSV file
        df = pd.read_csv('data/oscars/list_oscars_BS.csv') 

        # SQL to insert data. You must indicate the name of the columns in the first parenthesis and in values enter the number of columns with %s
        sql_insert_query = """ INSERT INTO oscars (ceremony_year, best_movie, best_director, best_actor, best_actress) VALUES (%s, %s, %s, %s, %s)"""

        # Iterate over each row of the DataFrame and insert the data for each column.
        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['ceremony_year'], row['best_movie'], row['best_director'], row['best_actor'], row['best_actress'])) 

        # Confirm changes with commit
        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [24]:
# üèÜ "OSCARS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

# call the insert function for the oscars table
insert_oscars()

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö

In [25]:
#  üé≠üèÜ "ACTOR AWARDS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# Function to insert the data from 'actor_awards.csv' into the 'actor_awards' table. 
# It will not work if we don't have data in the 'actor_details' table.
def insert_actor_awards():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv('data/oscars/actor_awards.csv')
    
        sql_insert_query = """ INSERT INTO actor_awards (actor_name, ceremony_year, award_type) VALUES (%s, %s, %s)"""

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['actor_name'], row['ceremony_year'], row['award_type'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù") 

    except mysql.connector.Error as err: 
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [26]:
#  üé≠üèÜ "ACTOR AWARDS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

# call the insert function for the oscars table
insert_actor_awards()

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö

In [27]:
# üé¨üèÜ "RELATION MOVIE OSCARS" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

# insert data into relation_movie_oscars

def insert_relation_movie_oscars():
    # Connection
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

    # Cursor creation
    mycursor = cnx.cursor()

    try: 
        # Read CSV file
        df = pd.read_csv('data/oscars/relation_movie_oscars.csv')

        # SQL to insert data. You must indicate the name of the columns in the first parenthesis and in values enter the number of columns with %s
        sql_insert_query = """ INSERT INTO relation_movie_oscars (id_imdb, best_movie, ceremony_year) VALUES (%s, %s, %s)"""

        # Iterate over each row of the DataFrame and insert the data for each column.
        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['id_imdb'], row['best_movie'], row['ceremony_year'])) 

        # Confirm changes with commit
        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [28]:
# üé¨üèÜ "RELATION MOVIE OSCARS" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

# call the insert function for relation_movie_oscars

insert_relation_movie_oscars()

Error al insertar en la base de datos: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`cinem_extract`.`relation_movie_oscars`, CONSTRAINT `relation_movie_oscars_ibfk_1` FOREIGN KEY (`id_imdb`) REFERENCES `movies` (`id_imdb`) ON DELETE CASCADE ON UPDATE CASCADE) ‚ùå
Conexi√≥n a la base de datos cerradaüîö

In [29]:
# üé≠üé¨ "RELATION ACTOR MOVIE" TABLE --> DEFINE ‚úçÔ∏è FUNCTIONS

def insert_relation_actor_movie():
    cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')
    mycursor = cnx.cursor()

    try: 
        df = pd.read_csv('data/selenium_imdb_actors/list_oscars_range_1_2_sel_imdb_movies_actors.csv')

        sql_insert_query = """INSERT INTO relation_actor_movie (id_imdb, actor_name) VALUES (%s, %s)"""

        for _, row in df.iterrows():
            mycursor.execute(sql_insert_query, (row['id_imdb'], row['actor_name'])) 

        cnx.commit() 
        print(f"{mycursor.rowcount} registro(s) insertado(s)üìù")

    except FileNotFoundError as fnf_error:
        print(f"Archivo no encontrado: {fnf_error} ‚ùå")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err} ‚ùå") 

    finally: 
        if cnx.is_connected(): 
            mycursor.close() 
            cnx.close() 
            print("Conexi√≥n a la base de datos cerradaüîö")

In [30]:
# üé≠üé¨ "RELATION ACTOR MOVIE" TABLE --> EXECUTE ‚ñ∂Ô∏è FUNCTIONS

insert_relation_actor_movie()

1 registro(s) insertado(s)üìù
Conexi√≥n a la base de datos cerradaüîö